.products {
  padding-top: 20px;


  &__inner {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
  }

  &__list{
    min-width: 436px;
    width: 100%;
    align-self: center;
    margin: 0 auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-bottom: 20px;
  }
}





@media screen and (max-width: 1250px) {
  .products__list{
    padding: 0 10px;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 1070px) {
  .products__list{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 860px) {
  .products__list{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .products__list{
    grid-template-columns: repeat(2, 1fr);
  }
}