.nav {
  padding: 0 20px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgb(32, 105, 179);

  &__logo {
    width: 30px;
    cursor: pointer;
  }

  &__inner {
    display: flex;
    height: 60px;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__items {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;

  }

  &__item {
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: white;
  }

  &__item::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 1px;
    width: 0;
    background: #ffffff;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
  }
  &__item:hover::after {
    width: 100%;
    left: 0;
  }

}









